.film {
  padding: 30px 0;
}

.film .body {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.film .body_left {
  flex: 1;
  min-height: 580px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.film .body .list {
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

/* ============================ btn ======================= */
.main-paginate {
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.paginate-ul {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  justify-content: center;
}

.pageClassName {
}
.pageLinkClassName {
  padding: 10px;
  background-color: rgba(206, 198, 198, 0.08);
  border-radius: 5px;
  font-size: 1.2rem;
}
.pageClassName.active .pageLinkClassName {
  background-color: var(--heading-color);
}
.previous {
  display: flex;
  align-items: center;
}

.icon-next,
.icon-prev {
  color: white;
  background-color: white;
  border-radius: 5px;
  font-size: 1.2rem;
  width: 23px;
  height: 37px;
}
/* max-width: 990px; */
@media only screen and (max-width: 61.875em) {
  html {
    font-size: 50% !important;
  }
  .film .body .list {
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
}
/* max-width: 768px; */
@media only screen and (max-width: 48em) {
  html {
    font-size: 50% !important;
  }
  .film .body .list {
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

/* max-width: 470px; */
@media only screen and (max-width: 29.375em) {
  html {
    font-size: 50% !important;
  }
  .film .body .list {
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .paginate-ul {
    gap: 5px;
  }
  .main-paginate {
    overflow: auto;
    width: 250px;
  }
}

/* max-width: 250px; */
@media only screen and (max-width: 16.25em) {
  html {
    font-size: 50% !important;
  }
  .film .body .list {
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}
